<ngx-fab
  [backgroundColor]="'#88B04B'"
  [iconClass]="'fas fa-plus'"
  [position]="'middle-right'"
  (click)="ngxSmartModalService.getModal('myModal').open()"
></ngx-fab>
<ngx-smart-modal #myModal identifier="myModal">
  <h1>Title</h1>
  <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>
<div class="table-container">
  <h1 class="title">Blog Posts</h1>
  <ngx-datatable
    #blogTable
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="50"
    [rowHeight]="50"
    class="material table"
    height="100%"
  >
    <ngx-datatable-column name="Title"></ngx-datatable-column>
    <ngx-datatable-column name="content"></ngx-datatable-column>
    <ngx-datatable-column name="publishDate"></ngx-datatable-column>

    <ngx-datatable-column name="Id" title="Test" [sortable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        <fa-icon [icon]="faEdit"></fa-icon>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <fa-icon [icon]="faEdit" (click)="edit(value)"></fa-icon>
        &nbsp;
        <fa-icon [icon]="faRemove" (click)="remove(value)"></fa-icon>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
