<p>admin-blog works</p>
<div>
  <ngx-datatable
    #blogTable
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="50"
    [rowHeight]="50"
    class="material table"
    height="100%"
  >
    <ngx-datatable-column name="Title"></ngx-datatable-column>
    <ngx-datatable-column name="content"></ngx-datatable-column>
    <ngx-datatable-column name="poster"></ngx-datatable-column>
    <ngx-datatable-column name="createDate"></ngx-datatable-column>
    <ngx-datatable-column name="publishDate"></ngx-datatable-column>

    <ngx-datatable-column name="Id" title="Test">
      <ng-template let-column="column" ngx-datatable-header-template>
        Operations
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <fa-icon [icon]="faEdit" (click)="edit(value)"></fa-icon>
        &nbsp;
        <fa-icon [icon]="faRemove" (click)="remove(value)"></fa-icon>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
