:host {
  width: 100%;
}
.ngx-datatable {
  height: 100vh;
}
.title {
  font-size: 30px;
  text-align: center;
}
.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ng-fa-icon {
  cursor: pointer;
}
