.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 5px;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
}
.sidebar > * {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  background: #e0e0e0;
  box-shadow: 6px 6px 11px #bebebe, -6px -6px 11px #ffffff;
  pointer-events: all;
}
.sidebar > *:hover {
  border-radius: 15px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 6px 6px 11px #bebebe, -6px -6px 11px #ffffff;
}
