:host {
  display: flex;
  justify-content: center;
}

.cards {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  transition-duration: 250ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vh;
  height: 20vh;
  margin: 3vh;
  border-radius: 50px;
  background: #f2e9e4;
  box-shadow: 20px 20px 60px #cec6c2, -20px -20px 60px #ffffff;
}
.card:hover {
  border-radius: 50px;
  background: #f2e9e4;
  box-shadow: -20px -20px 60px #cec6c2, 20px 20px 60px #ffffff;
}
.icon > img {
  width: 50px;
  margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
  .cards {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin: 5vh;
  }
}
