<div class="cards">
  <div class="card" routerLink="blog">
    <div class="icon"><img src="https://stackblitz.com/files/ramazanm1/github/RamazanM/PersonalBlog-PrimeNG/master/src/app/typewriter.png
      " alt="" /></div>
    <div class="text">Blog</div>
  </div>
  <div class="card" routerLink="photos">
    <div class="icon"><fa-icon [icon]="icons.photos"></fa-icon></div>
    <div class="text">Photos</div>
  </div>
  <div class="card" routerLink="cv">
    <div class="icon"><fa-icon [icon]="icons.cv"></fa-icon></div>
    <div class="text">CV</div>
  </div>
</div>
