<div class="cards">
  <div class="card" routerLink="blog">
    <div class="icon">
      <img
        src="https://github.com/RamazanM/PersonalBlog-PrimeNG/raw/master/src/app/assets/typewriter.png"
        alt=""
      />
    </div>
    <div class="text">Blog</div>
  </div>
  <div class="card" routerLink="photos">
    <div class="icon">
      <img
        src="https://github.com/RamazanM/PersonalBlog-PrimeNG/raw/master/src/app/assets/camera.png
      "
        alt=""
      />
    </div>
    <div class="text">Photos</div>
  </div>
  <div class="card" routerLink="cv">
    <div class="icon">
      <img
        src="https://github.com/RamazanM/PersonalBlog-PrimeNG/raw/master/src/app/assets/cv.png
    "
        alt=""
      />
    </div>
    <div class="text">CV</div>
  </div>
</div>
