body {
  background-color: #F2E9E4;
  opacity: 0.8;
  background-image:  radial-gradient(#B786BB 1.1px, transparent 1.1px), radial-gradient(#B786BB 1.1px, #F2E9E4 1.1px);
  background-size: 44px 44px;
  background-position: 0 0,22px 22px;
}
